<div class="row">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <title>Document</title>
    </head>
    <body>
        <div class="caja-padre">
            <div class="contenedor">
                <h2>MIS HABILIDADES</h2>

<div class="skills">
    <div class="detalles">
        <span>HTML</span>
        <span>90%</span>
    </div>

<div class="menu">
    <div id="html-mu"></div>
</div>
            </div>



            <div class="skills">
                <div class="detalles">
                    <span>JAVA SCRIPT</span>
                    <span>60%</span>
                </div>
            
            <div class="menu">
                <div id="java-mu"></div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>CSS</span>
                    <span>10%</span>
                </div>
            
            <div class="menu">
                <div id="css-mu"></div>
            </div>

            <div class="skills">
                <div class="detalles">
                    <span>ALBONDIGAS</span>
                    <span>40%</span>
                </div>
            
            <div class="menu">
                <div id="albondigas-mu"></div>
            </div>


            </div>
        </div>

</div>
