<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <img src="../../../assets/WhatsApp Image 2023-01-25 at 18.19.45.jpeg"
   class="img-fluid"id="fotodeperfil">
   
 </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre"> Maria Pia Navarro Salas</p>
        <p>Full Satck Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur 
            </p>
        </span>
    </div>
